#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
extensions:
    mesourApplication: Mesour\Bridges\Nette\DI\ApplicationExtension

mesourApplication:
    name: my_app_name # default is `mesourapp`